<!-- <p>
  {{user.login}}
</p> -->
<div class="jumbotron">
<div class="container-fluid">
  <input type="text" id="search" placeholder="search user or repositorty">
  <button type="submit" class="btn btn-success btn-md">SEARCH</button>
</div>
</div>

<!-- displaying the user information -->

<div class="card-deck">
  <div class="card-body">
    <h3>{{user.login}}</h3>
    <p *ngIf='user.name'>{{user.name}}</p>
  </div>
  <img src="{{user.avatar_url}}" class="img-circle" alt="user image">
  <button class="btn btn-info btn-sm"><a href="{{user.html_url}}">view on github</a></button>
</div><br><br><br>

<div class="card-deck">
  <div class="card-title">
    <h6>REPOSITORIES</h6>
  </div>
  <div class="card-body" *ngFor="let work of works">

  </div>
</div>
